{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="span3">
        {% include 'UtilisateursBundle:Default/modulesUsed:utilisateursConnecte.html.twig' %}
    </div>
    <div class="span9">
        <h2>Mes informations</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary"/>
                    </div>
                    {{ form_end(form) }}
                </div>
        </div>
    </div>
</div>
